function load_env() {
    # Sequentially load env files, line by line, with envsubst
    # so that variables can be reused and referenced in the same file or later files
    fn=$1
    if [[ -e "$fn" ]]; then
        echo "Loading $fn..."
        while IFS= read -r line || [ -n "$line" ]; do
            if [[ -n "$line" && ! "$line" =~ ^[[:space:]]*# ]]; then
                processed=$(echo "$line" | envsubst | xargs)
                if [[ -n "$processed" ]]; then
                    export "$processed"
                fi
            fi
        done < "$fn"
    fi
}

# Add ./bin to PATH for scripts
export PATH=$(pwd)/bin:$PATH
# Add .venv/bin to PATH for python
export PATH=$(pwd)/.venv/bin:$PATH

load_env infra/common/.env
load_env infra/dev/.env
load_env .env.local
